@import "~assets/less/theme.less";

.foget-pwd-link{
  font-size: 12px;
  float: right;
}

.fieldsWrapper {
  padding: 30px 15px 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-top: 3px solid #4e4e4e;
}

.formItem {
  margin-bottom: 5px!important;
}

.signInBtn {
  background-color: @primary-color;
  margin-top: 5px;
  padding: 8px 17px;
}
.create-link-btn{
  background-color: @primary-color;
  display: inline-block;
  padding: 8px 17px;
  color: #fff;

}

.siteTitle {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  text-transform: uppercase;
}