@import "~assets/less/theme.less";

.panel-header{
  max-width: @brk-page-max-width;
  background-color: @primary-color;
  padding:10px 20px;
  margin:0 auto;
  overflow: hidden;
  text-align: right;
  [data-role="language"], [data-role="operations"],[data-role="welcomeMsg"]{
    float: right;
    display: inline-block;
    margin-left: 15px;
  }
  a {
    color: @brk-text-white-color;
  }
}
.username{
  display: inline-block;
  height: 24px;
  line-height: 24px;
}
.ant-dropdown-link{
  background-color: transparent;
  border: none;
  outline: none;
  &:active, &:focus{
    border: none;
    box-shadow: none;
    outline: none;
  }
}
.language-flag{
  width: 20px;
  height: 20px;
  display: inline-block;
  margin:0px 5px;
}
